<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ValidationUtilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <ValidationUtilities.Properties.Settings>
            <setting name="DseOutputPath" serializeAs="String">
                <value>C:\DSE_XMLSampling</value>
            </setting>
            <setting name="XMLSamplingInputPath" serializeAs="String">
                <value>C:\DSE_Validated_for_XMLSampling</value>
            </setting>
            <setting name="DseOutputBackup" serializeAs="String">
                <value>C:\DSE_XMLSampling_Backup</value>
            </setting>
            <setting name="XMLSamplingInputBackup" serializeAs="String">
                <value>C:\DSE_Validated_for_XMLSampling_Backup</value>
            </setting>
            <setting name="logfile" serializeAs="String">
                <value>.\\cmdpValidationUtilitiesLog.txt</value>
            </setting>
            <setting name="cmdpEmail" serializeAs="String">
                <value>sdwis@dhec.sc.gov</value>
            </setting>
            <setting name="noReplyEmail" serializeAs="String">
                <value>noreply@dhec.sc.gov</value>
            </setting>
            <setting name="emailServer" serializeAs="String">
                <value>publicsmtp.dhec.sc.gov</value>
            </setting>
            <setting name="errorReportEmailList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>doddaprk@dhec.sc.gov</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="adminEmails" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>doddaprk@dhec.sc.gov</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ValidationUtilities.Properties.Settings>
    </applicationSettings>
</configuration>
