<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MigrateLIMSData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
                                                                                                                        </configSections>
    <connectionStrings>
        <add name="MigrateLIMSData.Properties.Settings.SDWISConnection"
            connectionString="Data Source=GENSQLTEST.DHEC.SC.GOV;Initial Catalog=SDWISAddOn;User ID=DSE_MATRIX"
            providerName="System.Data.SqlClient" />
        <add name="MigrateLIMSData.Properties.Settings.LIMSConnection"
            connectionString="Data Source=LIMS.DHEC.SC.GOV;Initial Catalog=LIMSP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <MigrateLIMSData.Properties.Settings>
            <setting name="OutputPath" serializeAs="String">
                <value>C:\DSE_XMLSampling_Backup</value>
            </setting>
        </MigrateLIMSData.Properties.Settings>
    </applicationSettings>
</configuration>