<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ValidationDataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                                                                                                                      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="ValidationDataAccess.Properties.Settings.SdwisAddOnConnectionString"
      connectionString="Data Source=GENSQLTEST.DHEC.SC.GOV;Initial Catalog=SDWISAddOn;User ID=DSE_MATRIX;Password=DSE_MATRIX@2019!"
      providerName="System.Data.SqlClient" />
    <add name="ValidationDataAccess.Properties.Settings.SdwisAddOnProd"
      connectionString="Data Source=GENSQLTEST.DHEC.SC.GOV;Initial Catalog=SDWISAddOn;User ID=DSE_MATRIX;Password=DSE_MATRIX@2019!"
      providerName="System.Data.SqlClient" />
    <add name="ValidationDataAccess.Properties.Settings.SdwisDbConnectionString"
      connectionString="Data Source=GENSQLTEST.DHEC.SC.GOV;Initial Catalog=SDWISTEST;Persist Security Info=True;User ID=sdwis_user;Password=9Ln3c@nlza"
      providerName="System.Data.SqlClient" />
    <add name="ValidationDataAccess.Properties.Settings.SdwisDbProd"
      connectionString="Data Source=GENSQLTEST.DHEC.SC.GOV;Initial Catalog=SDWISTEST;Persist Security Info=True;User ID=sdwis_user;Password=9Ln3c@nlza"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <applicationSettings>
    <ValidationDataAccess.Properties.Settings>
      <setting name="UseProductionSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserDomain" serializeAs="String">
        <value>DEC</value>
      </setting>
    </ValidationDataAccess.Properties.Settings>
  </applicationSettings>
</configuration>
